@font-face {
  font-family: "dm_sans";
  src: url("../fonts/DM_Sans/DMSans_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "dm_sans";
  src: url("../fonts/DM_Sans/DMSans_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "icon";
  src: url("../fonts/icons/fa-light-300.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "icon";
  src: url("../fonts/icons/fa-regular-400.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "icon";
  src: url("../fonts/icons/fa-solid-900.ttf") format("truetype");
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dm_sans";
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

*::before,
*::after {
  font-family: "icon";
}

:root {
  --white: #ffffff;
  --black: #0F2137;
  --purple: #8D448B;
  --gray: #566272;
  --dark-gray: #343D48;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid red;
}

.body {
  background: var(--white);
}

.icon-carrent-down::after {
  content: "\f0d7";
  font-weight: 900;
}

.icon-chevron-right::after {
  content: "\f054";
  font-weight: 400;
}

.icon-play::before {
  content: "\f04b";
  font-weight: 900;
}

.btn {
  border-radius: 5px;
  padding: 13px 25px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn.primery {
  background: var(--purple);
  color: var(--white);
}
.btn.secondary {
  border: 2px solid var(--purple);
  background: #F9FBFD;
  color: var(--purple);
}

.section-top {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  line-height: 40px;
  color: var(--purple);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.subtitle {
  font-size: 30px;
  line-height: 55px;
  color: var(--black);
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
}

.more-link {
  font-size: 16px;
  line-height: 42px;
  color: var(--purple);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
}

.header {
  padding: 25px 0 56px;
  background: #F6F8FB;
  display: flex;
  flex-direction: column;
  gap: 114px;
}
@media (max-width: 768px) {
  .header {
    gap: 50px;
  }
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}
.header-content__info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (max-width: 992px) {
  .header-content__info {
    align-items: center;
    text-align: center;
  }
}
.header-content__info h1 {
  font-size: 64px;
  line-height: 80px;
  color: var(--black);
  font-weight: 700;
  letter-spacing: -1.5px;
}
@media (max-width: 768px) {
  .header-content__info h1 {
    font-size: 48px;
    line-height: 60px;
  }
}
@media (max-width: 576px) {
  .header-content__info h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
.header-content__info p {
  max-width: 479px;
  width: 100%;
  font-size: 18px;
  line-height: 42px;
  color: var(--black);
}
.header-content__info form {
  max-width: 565px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.header-content__info form input {
  border: none;
  outline: none;
  padding: 13px 24px;
  font-size: 16px;
  line-height: 40px;
  color: var(--black);
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 0px 10px 50px 0px rgba(48, 98, 144, 0.08);
}
@media (max-width: 576px) {
  .header-content__info form input {
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
  }
}
.header-content__info form input::-moz-placeholder {
  opacity: 0.4;
}
.header-content__info form input::placeholder {
  opacity: 0.4;
}
.header-content__info form .btn {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  padding: 13px 41px;
}
@media (max-width: 576px) {
  .header-content__info form .btn {
    flex-grow: 1;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
  }
}
.header-content__sponsors {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.header-content__sponsors span {
  font-size: 16px;
  line-height: 48px;
  color: var(--gray);
  opacity: 0.6;
}
.header-content__sponsors img {
  height: 28px;
}
.header-content__img {
  width: 47%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 992px) {
  .header-content__img {
    display: none;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 992px) {
  .navbar__list {
    display: none;
  }
}
.navbar__list a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 33px;
  color: var(--black);
}
.navbar__list a::after {
  transition: 0.3s linear;
}
.navbar__list a:hover::after {
  transform: rotate(180deg);
}
.navbar-btn {
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar-btn:hover {
  background: var(--purple);
  color: var(--white);
}
@media (max-width: 992px) {
  .navbar-btn {
    display: none;
  }
}

.burger {
  width: 35px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .burger {
    display: flex;
  }
}
.burger span {
  width: 100%;
  height: 2px;
  background: var(--black);
}

.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.quality-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}
@media (max-width: 992px) {
  .quality-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .quality-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.quality-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.quality-item__img {
  width: 110px;
  height: 110px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quality-item:first-of-type > .quality-item__img {
  background: linear-gradient(324deg, #FFCC40 7.09%, rgba(255, 204, 64, 0.5) 88.82%);
}
.quality-item:nth-of-type(2) > .quality-item__img {
  background: linear-gradient(319deg, #25D9D9 5.17%, rgba(37, 217, 217, 0.5019607843) 94.34%);
}
.quality-item:nth-of-type(3) > .quality-item__img {
  background: linear-gradient(319deg, #0898E7 5.17%, rgba(8, 152, 231, 0.5) 94.34%);
}
.quality-item:last-of-type > .quality-item__img {
  background: linear-gradient(319deg, #FF9066 5.17%, rgba(255, 144, 102, 0.5019607843) 94.34%);
}
.quality-item h4 {
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  font-weight: 700;
}
.quality-item p {
  font-size: 15px;
  line-height: 28px;
  color: var(--dark-gray);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-img {
  width: 55%;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .info-img {
    display: none;
  }
}
.info-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.info-content h2 {
  font-size: 48px;
  line-height: 60px;
  color: var(--black);
  font-weight: 700;
  letter-spacing: -1.5px;
}
@media (max-width: 992px) {
  .info-content h2 {
    font-size: 38px;
    line-height: 40px;
  }
}
.info-content p {
  font-size: 17px;
  line-height: 34px;
  color: var(--black);
  opacity: 0.6;
}
.info-content p:first-of-type {
  opacity: 1;
}
.info__list {
  display: flex;
  flex-direction: column;
}
.info__list li {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 18px;
  line-height: 45px;
  color: var(--black);
}
.info__list li img {
  width: 20px;
  height: 20px;
}

.boost {
  margin: 130px auto 160px;
}
@media (max-width: 768px) {
  .boost {
    margin: 50px auto;
  }
}

.support {
  gap: 50px;
}

.leading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.leading h2 {
  max-width: 622px;
  width: 100%;
  font-size: 48px;
  line-height: 60px;
  color: var(--black);
  font-weight: 700;
}
@media (max-width: 576px) {
  .leading h2 {
    font-size: 38px;
    line-height: 40px;
  }
}
@media (max-width: 480px) {
  .leading h2 {
    font-size: 30px;
    line-height: 45px;
  }
}
.leading p {
  max-width: 533px;
  width: 100%;
  font-size: 17px;
  line-height: 34px;
  color: var(--dark-gray);
  margin: 24px 0 10px;
}
.leading-video {
  width: 100%;
  height: 625px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .leading-video {
    height: 450px;
  }
}
.leading-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.leading-video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.leading-video .play-btn {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--purple);
  border: none;
  outline: none;
  background: var(--white);
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
}

.customers {
  max-width: 822px;
  width: 100%;
  margin: 75px auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 480px) {
  .customers {
    gap: 30px;
  }
  .customers .subtitle {
    font-size: 27px;
  }
}
.customers-descr {
  font-size: 36px;
  line-height: 65px;
  color: var(--black);
  text-align: center;
}
@media (max-width: 480px) {
  .customers-descr {
    font-size: 25px;
    line-height: 28px;
  }
}
.customers-items {
  padding: 25px 7px 0 7px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(27%, 230px));
  gap: 70px;
}
@media (max-width: 768px) {
  .customers-items {
    grid-template-columns: repeat(1, minmax(27%, 230px));
    gap: 25px;
  }
}
.customers-items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 3px;
  background: var(--purple);
  border-radius: 5px;
}
.customers-items__item {
  grid-column: span 1;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.customers-items__item img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.customers-items__item h4 {
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  font-weight: 500;
}
.customers-items__item p {
  font-size: 15px;
  line-height: 28px;
  color: var(--black);
  opacity: 0.8;
}

.tutorials {
  min-height: 894px;
  padding-bottom: 150px;
  background: #F8FAFC;
  margin-top: 100px;
}
.tutorials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tutorials-items {
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 992px) {
  .tutorials-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .tutorials-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.tutorials-items__item {
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.tutorials-items__item:hover {
  box-shadow: 0px 15px 50px rgba(69, 88, 157, 0.1);
}
.tutorials-items__item img {
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tutorials-items__item--info {
  padding: 35px 25px;
}
.tutorials-items__item--info h4 {
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
  margin-bottom: 25px;
}
.tutorials-items__item--info span {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-gray);
}
.tutorials-items__item--info span img {
  height: 25px;
}

.hire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--purple);
  border-radius: 8px;
  padding: 40px 70px;
  transform: translateY(-50%);
}
@media (max-width: 992px) {
  .hire {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px 15px 50px;
    transform: translateY(-25%);
  }
}
.hire h2 {
  max-width: 521px;
  width: 100%;
  position: relative;
  font-size: 36px;
  line-height: 55px;
  color: var(--white);
  font-weight: 700;
  letter-spacing: -1.5px;
}
@media (max-width: 992px) {
  .hire h2 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .hire h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
.hire h2::after {
  width: 248px;
  height: 118px;
  content: "";
  position: absolute;
  top: 0;
  right: -258px;
  background: url("../../images/line-message.svg") center center/cover no-repeat;
}
@media (max-width: 1200px) {
  .hire h2::after {
    display: none;
  }
}
.hire button {
  padding: 19px 44px;
  font-size: 17px;
  line-height: 22px;
  color: var(--purple);
  font-weight: 700;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  background: var(--white);
  border-radius: 8px;
  position: relative;
  border: none;
  outline: none;
}
.hire button::before, .hire button::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 25px;
  background: url("../../images/hire-btn.png") center center/cover no-repeat;
}
.hire button::before {
  left: 50%;
  top: -37px;
  transform: translate(-50%, 0);
}
.hire button::after {
  right: 50%;
  bottom: -37px;
  transform: rotate(180deg) translate(-50%, 0);
}