@font-face {
  font-family: "dm_sans";
  src: url("../fonts/DM_Sans/DMSans_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "dm_sans";
  src: url("../fonts/DM_Sans/DMSans_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "icon";
  src: url("../fonts/icons/fa-light-300.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "icon";
  src: url("../fonts/icons/fa-regular-400.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "icon";
  src: url("../fonts/icons/fa-solid-900.ttf") format("truetype");
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dm_sans";
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

*::before,
*::after {
  font-family: "icon";
}

:root {
  --white: #ffffff;
  --black: #0F2137;
  --purple: #8D448B;
  --gray: #566272;
  --dark-gray: #343D48;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid red;
}

.body {
  background: var(--white);
}

.icon-carrent-down::after {
  content: "\f0d7";
  font-weight: 900;
}

.btn {
  border-radius: 5px;
  padding: 13px 25px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn.primery {
  background: var(--purple);
  color: var(--white);
}
.btn.secondary {
  border: 2px solid var(--purple);
  background: #F9FBFD;
  color: var(--purple);
}

.header {
  padding: 25px 0 56px;
  background: #F6F8FB;
  display: flex;
  flex-direction: column;
  gap: 114px;
}
@media (max-width: 768px) {
  .header {
    gap: 50px;
  }
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}
.header-content__info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (max-width: 992px) {
  .header-content__info {
    align-items: center;
    text-align: center;
  }
}
.header-content__info h1 {
  font-size: 64px;
  line-height: 80px;
  color: var(--black);
  font-weight: 700;
  letter-spacing: -1.5px;
}
@media (max-width: 768px) {
  .header-content__info h1 {
    font-size: 48px;
    line-height: 60px;
  }
}
@media (max-width: 576px) {
  .header-content__info h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
.header-content__info p {
  max-width: 479px;
  width: 100%;
  font-size: 18px;
  line-height: 42px;
  color: var(--black);
}
.header-content__info form {
  max-width: 565px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.header-content__info form input {
  border: none;
  outline: none;
  padding: 13px 24px;
  font-size: 16px;
  line-height: 40px;
  color: var(--black);
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 0px 10px 50px 0px rgba(48, 98, 144, 0.08);
}
@media (max-width: 576px) {
  .header-content__info form input {
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
  }
}
.header-content__info form input::-moz-placeholder {
  opacity: 0.4;
}
.header-content__info form input::placeholder {
  opacity: 0.4;
}
.header-content__info form .btn {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  padding: 13px 41px;
}
@media (max-width: 576px) {
  .header-content__info form .btn {
    flex-grow: 1;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
  }
}
.header-content__sponsors {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.header-content__sponsors span {
  font-size: 16px;
  line-height: 48px;
  color: var(--gray);
  opacity: 0.6;
}
.header-content__sponsors img {
  height: 28px;
}
.header-content__img {
  width: 47%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 992px) {
  .header-content__img {
    display: none;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 992px) {
  .navbar__list {
    display: none;
  }
}
.navbar__list a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 33px;
  color: var(--black);
}
.navbar__list a::after {
  transition: 0.3s linear;
}
.navbar__list a:hover::after {
  transform: rotate(180deg);
}
.navbar-btn {
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar-btn:hover {
  background: var(--purple);
  color: var(--white);
}
@media (max-width: 992px) {
  .navbar-btn {
    display: none;
  }
}

.burger {
  width: 35px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .burger {
    display: flex;
  }
}
.burger span {
  width: 100%;
  height: 2px;
  background: var(--black);
}