.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 61px;
  @include media(768) {
    justify-content: center;
  }

  &--info {
    display: flex;
    align-items: center;
    gap: 10px;
    @include media(480) {
      flex-direction: column;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      color: $black;
      opacity: 0.6;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    

    a {
      font-size: 16px;
      line-height: 33px;
      color: $black;
    }
  }
}