* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'dm_sans';
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}
*::before,
*::after {
  font-family: 'icon';
}

:root {
  --white: #ffffff;
  --black: #0F2137;
  --purple: #8D448B;
  --gray: #566272;
  --dark-gray: #343D48;
}

$white: var(--white);
$black: var(--black);
$purple: var(--purple);
$gray: var(--gray);
$dark-gray: var(--dark-gray);

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.body {
  background: $white;
}

.icon-carrent-down::after { content: '\f0d7'; font-weight: 900; }
.icon-chevron-right::after { content: '\f054'; font-weight: 400; }
.icon-play::before { content: '\f04b'; font-weight: 900;}

.btn {
  border-radius: 5px;
  padding: 13px 25px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  
  &.primery {
    background: $purple;
    color: $white;
  }
  &.secondary {
    border: 2px solid $purple;
    background: #F9FBFD;
    color: $purple;
  }
}
.section-top {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 18px;
  line-height: 40px;
  color: $purple;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.subtitle {
  font-size: 30px;
  line-height: 55px;
  color: $black;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
}
.more-link {
  font-size: 16px;
  line-height: 42px;
  color: $purple;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
}